<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.automa.ui">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity
            android:name=".live_monitoring.LiveMonitoringActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp"/>
        <activity
            android:name=".shared.deep_link.DeepLinkActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="drivero.automa.id"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="drivero.automa.id"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".driver.account.PairingConfirmationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".mechanic.account.certificate.InputCertificateMechanicActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".mechanic.account.certificate.CertificateMechanicActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".mechanic.task.MechanicTaskDetailUploadProofActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".mechanic.task.MechanicInputTaskDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".mechanic.task.MechanicTaskDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".mechanic.task.MechanicTaskActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".mechanic.breakdown_report.HistoryBreakdownReportActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".mechanic.breakdown_report.BreakdownReportActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".mechanic.breakdown_report.BreakdownReportPhotoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".mechanic.account.AccountEditMechanicActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".mechanic.home.HomeMechanicActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".mechanic.register.RegisterMechanicActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".shared.setting.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".mechanic.service_request.ServiceRequestActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".mechanic.service_request.ServiceRequestAddDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".driver.task.pod.ViewPodActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".driver.storing.StoringRequestActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".driver.home.LocationDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".common.CameraXActivity"
            android:exported="false"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".driver.check_sheet.CheckSheetActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".driver.account.AccountEditActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".driver.task.TaskDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".shared.scanner.ScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".driver.home.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".shared.auth.ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".shared.auth.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".shared.auth.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp" />
        <activity
            android:name=".shared.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeUi.AutomaApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>